.formWrapper {
  border: 1px solid rgb(76, 72, 72);
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(235, 241, 232);
  height: fit-content;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: calc((100% - 70px) / 2);
    box-sizing: border-box;
    max-width: 350px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 350px;
  }
}

.formTitle {
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 80px 10px 10px;
  border: solid 1px #252727;
  border-radius: 5px;
  margin-top: 10px;

  @media screen and (min-width: 1280px) {
    width: 300px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 10px;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    padding: 10px;
    gap: 15px;
    display: flex;
  }
}

.formLable {
  display: flex;
  flex-direction: column;
}

.formInput {
  border-radius: 3px;
  border: solid 1px rgb(37, 39, 39);
  padding: 7px 5px;
}

.formBtn {
  width: 110px;
  padding: 5px 0;
  border-radius: 5px;
  border: solid 1px rgb(37, 39, 39);
  background-color: rgb(220, 230, 215);
  cursor: pointer;
}
