.home {
  color: rgb(35, 193, 193);
  padding: 0 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.container {
  display: inline-block;
  padding: 25px;
  background-color: rgb(235, 241, 232);
  border-radius: 15px;

  @media screen and (max-width: 767px) {
    max-width: 400px;
  }
}
