.title {
  margin-top: 80px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginForm button {
  width: 130px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 7px;
  background-color: rgb(217, 225, 225);
  cursor: pointer;
}

.loginForm input {
  border-radius: 5px;
  padding: 7px;
  width: 300px;
  background-color: rgb(217, 225, 225);
}

.email {
  margin-left: 45px;
}

.password {
  margin-left: 17px;
}
