.title {
  margin-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form button {
  width: 130px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 7px;
  background-color: rgb(217, 225, 225);
  cursor: pointer;
}

.form input {
  border-radius: 5px;
  padding: 7px;
  width: 300px;
  background-color: rgb(217, 225, 225);
}

.name {
  margin-left: 12px;
}

.email {
  margin-left: 45px;
}

.password {
  margin-left: 16px;
}
