.contact {
  list-style: none;
  margin: 0;
  width: 450px;
  /* outline: solid orange 3px; */

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    /* outline: solid orange 3px; */
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.list {
  margin: 0;
  width: 100%;
}
