.filter {
  margin-left: 25px;
  margin-top: 10px;
  padding: 20px;
  border: solid 2px rgb(37, 39, 39);
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    padding: 0 20px 20px 20px;
  }
}

.filterInput {
  border-radius: 3px;
  border: solid 1px rgb(37, 39, 39);
  padding: 10px 5px;
  width: 340px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 95%;
  }

  @media screen and (max-width: 767px) {
    width: 95%;
  }
}

.filterInput::placeholder {
  padding-left: 5px;
}
