@import-normalize; /* bring in normalize.css styles */

body {
  padding: 50px;
  background-color: rgb(151, 176, 176);
  background-image: url('../assets/dream_TradingCard\ \(13\).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(53, 51, 56);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 20px;
  }
  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
